*{
  margin: 0;
  padding: 0;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  box-sizing: border-box;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.heading{
    text-align: center;
    margin: 50px 40%;
    padding: 15px 0;
    background-color: rgb(225, 35, 190);
    border-radius: 10px;
    color: white;
    font-weight: bold;
    font-size: 0.8rem;
    
}


.sub-heading{
  text-align: center;
  margin: 50px 35%;
  padding: 15px 0;
  background-color: rgb(225, 35, 190);
  border-radius: 10px;
  color: white;
  font-weight: bold;
  font-size: 0.8em;
}





p{
  text-align: center;
  margin: 0 20%;
  padding: 0 20px;
  font-size:1rem
}

.dotted{
  border-bottom: 3px dashed rgb(225, 35, 190);
  margin: 40px auto;
}

h2{
  text-align: center;
}


  .team {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
  
  .team-img {
    text-align: center;
    margin: 20px;
  }
  
  .team-img img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
  }
  


.position{
  color: rgb(225, 35, 190);
  font-style: italic;
}

.right-icon{
  border: 1px solid red;
  display: flex;
  justify-content: flex-end;
  padding-left: 800px;

}

.svg-btn{
  display: inline-block;  
  width: 100%;
  display: flex;
  justify-content: flex-end;

}



@media (max-width: 768px) {
  .heading {
    margin: 50px 30%;
    padding: 12px 1px;
    font-size: 0.8em;
    border-radius: 8px;
  }

  p{
    margin: 1px;
  }

  .sub-heading {
    margin: 50px 21%;
    padding: 12px 1px;
    font-size: 0.7em;
    border-radius: 8px;
  }

  svg, .svg-btn{
    display: none;
  }


}